* {
  font-family: "Open Sans", sans-serif;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color_1 {
  background-color: #C4D600;
}

.color_2 {
  background-color: #72BDE8;
}

.color_3 {
  background-color: #75C165;
}

.color_4 {
  background-color: #4098BE;
}

.color_5 {
  background-color: #FFCD00;
}

.color_6 {
  background-color: #ED8B00;
}

.color_7{
  background-color: #DA291C;
}

.color_8{
  background-color: #012169;
}

.color_9{
  background-color: #BBBCBC;
}



.component_wrapper {
  width: 900px;
  margin: 140px auto;
}

.Range-Slider {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &__total-section {
    margin-bottom: 32px;
  }
  &__total-text {
    font-size: 13px;
    strong {
      margin-right: 8px;
    }
    span{
      color: #75787B;
      margin-right: 8px;
    }
  }

  &__total-input {
    border: solid 1px #D0D0CE;
    outline: none;
    padding: 6px 6px;
    width: 65px;
    line-height: 20px;
    text-align: right;
    font-size: 13px;
    font-weight: 300;
  }

  &__slider-section {
    margin-bottom: 48px;
  }

  &__slider-element {
    position: relative;
    width: 100%;
    height: 22px;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 8px;
      //background-color: #ff7e63;
      top: 26px;
      z-index: -1;
    }
  }

  &__slider-baseline {
      width: 100%;
      left: 0;
      top: 8px;
      position: absolute;
  }

  &__slider-progress {
      position: absolute;
      height: 8px;
      top: 0px;
  }

  &__slider-progress-status-wrapper {
     height: 8px;
      overflow: hidden;
  }

  &__slider-progress-status {
      width: 100%;
      height: 3px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        background-color: rgba(0,0,0, .2);
        height: 2px;
        width: 100%;
      }
  }

  &__slider-progress-lock-icon {
    width: 20px;
    height: 8px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 11" id="link" xmlns="http://www.w3.org/2000/svg"><path d="M6 7.71a.4.4 0 01.12.3.4.4 0 01-.12.3l-1.76 1.75c-.2.2-.41.35-.66.47a2 2 0 01-.78.15h-.04a2.05 2.05 0 01-1.49-.64c-.4-.42-.6-.91-.6-1.49A2.07 2.07 0 011.3 7.1l2.65-2.63c.18-.2.4-.34.64-.45.25-.11.51-.17.79-.17.28-.02.55.04.82.15.26.1.48.26.68.47.08.08.11.18.1.3 0 .1-.04.2-.12.27a.37.37 0 01-.27.12.5.5 0 01-.3-.1 1.13 1.13 0 00-.4-.3c-.16-.06-.33-.1-.5-.1-.15.02-.3.06-.46.13-.15.06-.28.15-.4.27L1.89 7.7c-.12.1-.2.24-.27.4-.07.14-.1.3-.12.46 0 .17.03.34.1.5.06.15.16.29.29.4.12.13.25.23.4.3.17.06.33.1.5.1.17-.02.32-.06.47-.12.15-.07.28-.16.39-.28L5.4 7.71a.52.52 0 01.14-.1c.05-.02.1-.03.16-.03.05 0 .1.01.15.04.06.02.1.06.14.1zM10.7.63c-.19-.2-.42-.35-.68-.45A1.8 1.8 0 009.24 0c-.27 0-.54.06-.8.18-.26.1-.49.25-.68.45L6 2.4a.5.5 0 00-.1.3c0 .1.04.2.12.27.08.08.17.12.27.14a.4.4 0 00.3-.12l1.77-1.76c.1-.12.23-.2.37-.27.16-.07.32-.1.5-.12.34.01.64.14.9.39.24.25.36.55.36.9a1.1 1.1 0 01-.37.86L7.46 5.64c-.1.12-.23.21-.39.28-.14.06-.3.1-.46.1a1.26 1.26 0 01-.9-.38.34.34 0 00-.3-.1c-.1 0-.2.05-.27.12a.48.48 0 00-.14.3c0 .1.04.2.12.27.2.2.42.35.67.47.26.1.52.16.8.16h.04c.27-.02.53-.08.78-.18.24-.1.46-.25.66-.45l2.64-2.66c.2-.18.34-.4.45-.64.11-.25.17-.5.17-.78.02-.29-.04-.56-.15-.82-.1-.26-.26-.49-.47-.69V.62z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__slider-progress-percentage{
    font-size: 13px;
    text-align: center;
    position: relative;
    top: -8px;
    margin: 0;
    padding: 0;
  }

  &__items-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__item {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &:last-child{
      margin-right: 0;
    }
  }
  &__item-label {
    text-align: right;
    display: block;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    padding-right: 14px;
  }
  &__item-label-indicator {
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 9px;
  }
  &__item-label-lock-status {
    display: inline-block;
    margin-right: 8px;
     svg {
       width: 12px;
       height: 12px;
     }
  }
  &__item-label-text {
    position: relative;
    &_clickable{
      border-bottom: dashed 1px #ccc;
      cursor: pointer;
    }
    &_disable {
      color: #97999B;
    }
  }
  &__item-input-wrapper {
    display: flex;
  }

  &__item-input {
    margin-right: 4px;
    border: solid 1px #D0D0CE;
    outline: none;
    padding: 6px 6px;
    width: 68px;
    line-height: 20px;
    font-weight: 300;
    text-align: right;
    font-size: 13px;
    &:disabled {
      border-color: #F0F0F0;
      background-color: #F0F0F0;
    }
  }
  &__item-input-unit {
    font-size: 13px;
    &_hide {
      visibility: hidden;
    }
  }
  &__item-modal-link {
    font-size: 12px;
    padding-right: 12px;
    color: #00A3E0;
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin-top: 6px;
    outline: none;
    cursor: pointer;
  }
}

.range_handler {
  position: absolute;
  width: 11px;
  height: 24px;
  cursor: pointer;
  border: solid 1px #DEDEE1;
  border-radius: 2px;
  background-color: #F8F8FA;
  top: 16px;
  //opacity: 0.5;
  z-index: 2;
  &:before{
    content: "";
    position: absolute;
    width: 1px;
    top: 3px;
    left: 3px;
    height: 17px;
    background-color: #97999B;
  }
  &:after{
    content: "";
    position: absolute;
    width: 1px;
    top: 3px;
    right: 3px;
    height: 17px;
    background-color: #97999B;
  }
}

.range_restrictions {
  position: absolute;
  //height: 3px;
}
//.range_restrictions.top_1 {
//  top: -19px;
//}
//
//.range_restrictions.top_2 {
//  top: -35px;
//}
//
//.range_restrictions.top_3 {
//  top: -50px;
//}
//
//.range_restrictions.top_4 {
//  top: -65px;
//}
