<div class="component_wrapper">
  <div class="Range-Slider" [ngStyle]="getTotalWidthSlider()">

    <div class="Range-Slider__total-section">
      <p class="Range-Slider__total-text">
        <strong>Financial Advisory</strong><span>client service fee</span>
        <input class="Range-Slider__total-input" type="text" [(ngModel)]="totalSum" #totalInput="ngModel" (change)="onTotalChange(totalInput)">
      </p>
    </div>

    <div class="Range-Slider__slider-section">
      <div class="Range-Slider__slider-element">
        <div class="range_restrictions color_{{index + 1}} top_{{index + 1}}" #country *ngFor="let el of _data; let index = index"
        [ngStyle]="getConstraints(index)"
        >
          <div class="range_handler" [lockAxis]="lockAxis" *ngIf="index + 1 !== itemsData.length"
            (started)="onStart($event, index)"
            (stopped)="onStop($event, index)"
            (endOffset)="onMoveEnd($event, index)"
            (movingOffset)="onMoving($event,index)"
            [bounds]="getRefEl(index,country)"
            [inBounds]="inBounds"
            (edge)="checkEdge($event)"
          [ngStyle]="stylePositionHandler(index)"
            ngDraggable>
            <span style="position: absolute; font-size: 0">{{el.title}}</span>
          </div>
        </div>
        <div class="Range-Slider__slider-baseline">
          <div *ngFor="let line of _progressLine; let index = index"
          [ngStyle]="getStyleProgress(index)"
          #progressLine
            class="Range-Slider__slider-progress color_{{index + 1}}">
            <p class="Range-Slider__slider-progress-percentage">{{this.itemsData[index].ByPersentage | number:'1.1-2'}}%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="Range-Slider__items-section">
      <ng-container *ngFor="let item of data">
        <div class="Range-Slider__item" *ngFor="let country of itemsData; let index = index">
          <label class="Range-Slider__item-label">
            <span class="Range-Slider__item-label-indicator color_{{index + 1}}"></span>
            <span class="Range-Slider__item-label-text">{{country.title}}</span>
          </label>
          <input class="Range-Slider__item-input"
                 type="text"
                 [(ngModel)]="country.ByNumber"
                 #ttt="ngModel"
                (focus)="countryFocusIn($event)"
                (change)="onChangeCountryValue(ttt, index, $event)">
        </div>
      </ng-container>
    </div>
  </div>
</div>
