<div class="component_wrapper">
  <div class="Range-Slider" [ngStyle]="getTotalWidthSlider()">
    <div class="Range-Slider__total-section" *ngFor="let item of data">
      <p class="Range-Slider__total-text">
        <strong>Financial Advisory</strong><span>client service fee</span>
        <input class="Range-Slider__total-input" type="text" [value]="item.total | number">
      </p>
    </div>
    <div class="Range-Slider__slider-section">
      <div class="Range-Slider__slider-element">
        <div #country *ngFor="let el of _data; let index = index" style="position:absolute; left:0px;width:100%;">

          <div class="range_handler" [lockAxis]="lockAxis" *ngIf="index + 1 !== itemsData.length"
            (started)="onStart($event, index)"
            (stopped)="onStop($event, index)"
            (endOffset)="onMoveEnd($event, index)"
            (movingOffset)="onMoving($event,index)"
            [bounds]="getRefEl(index,country)"
            [inBounds]="inBounds"
            (edge)="checkEdge($event)"
            [ngStyle]="stylePositionHandler(index)"
            ngDraggable>
            <span style="position: absolute; font-size: 0">{{el.title}}</span>
          </div>


        </div>

        <div class="Range-Slider__slider-baseline">
          <div *ngFor="let line of _progressLine; let index = index"
          [ngStyle]="getStyle(index)"
          #progressLine
            class="Range-Slider__slider-progress color_{{index + 1}}">
          </div>
        </div>


      </div>
    </div>
    <div class="Range-Slider__items-section">
      <ng-container *ngFor="let item of data">
        <div class="Range-Slider__item" *ngFor="let country of itemsData;">
          <label [for]="country.id" class="Range-Slider__item-label">
            <span class="Range-Slider__item-label-indicator color_1"></span>
            <span class="Range-Slider__item-label-text">{{country.title}}</span>
          </label>
          <input [id]="country.id" class="Range-Slider__item-input" type="text" [value]="country.ByNumber | number">
          {{country.ByPersentage}}%
        </div>
      </ng-container>
    </div>
  </div>
</div>
